* {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #253439, #253439);
  padding: 0px !important;
}

.btnbtn-primarybtn-sm :hover {
  box-shadow: inset 0 0 0 0 #f9e506;
}

.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 8px;
}

.navbar-nav li a {
  color: white !important;
  font-weight: 600;
}

/*-------------banner section-----------------*/

#intro {
  background-image: url(https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cmVhbCUyMGVzdGF0ZXxlbnwwfHwwfHw%3D&w=1000&q=80);
  background-size: cover;
  text-align: center;
  height: 650px;
  width: auto;
  color: black;
  padding-top: 5%;
}

.title {
  color: #f8f9fa;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
p {
  color: #f8f9fa;
}

.image-text {
  text-align: center;
}
/* --------------------------form---------------------------*/
form {
  position: relative;
  border: 2px solid rgb(0, 38, 141);
  background-color: rgb(255, 255, 255);
  box-shadow: inset 0 0 2em rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 350px;
  max-width: 200px;
  min-width: 200px;
  width: 1000px;
  padding: 1em;
  border-radius: 0.5em;
}

#intro {
  align-items: center;
}

/* ------------------------Services Section---------------------*/

#services {
  padding: 80px 0;
  align-items: center;
  background-color: #fff9f9;
  color: rgb(0, 0, 0);
}

.head-shot {
  align-items: center;
  width: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.p-text {
  color: black;
}

/*--------------------------about us section----------------------------------------------*/

#about-us {
  background: #253439;
  color: white;
  padding-bottom: 5px;
  padding-top: 3px;
}

.about-title {
  font-size: 30px;
  font-weight: 500;
  margin-top: 2%;
}
@media only screen and (min-width: 768px) {
  .about-us {
    transform: translateY(18%);
  }
}

.titletext-center {
  padding: 0;
}

btn btn-dark btn-sm m-5 :hover {
  box-shadow: inset 0 0 0 0 #f9e506;
}

/*--------------------------social-media section------------*/

#social-media {
  background-color: #f8f9fa;
  padding: 100px 0;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

#social-media {
  background: #94a1a5;
  padding: 100px 0;
}

.social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social-icons img {
  width: 60px;
  transition: 0.5s;
}

.social-icons a:hover {
  transform: translateY(-10px);
}
/* -----------------footer section -------------*/
#footer {
  background-image: linear-gradient(to right, #94a1a5, #878a8b);
  color: white;
}

.footer-img {
  width: 100%;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do-title {
  color: black;
  display: inline;
  text-align: right;
}

.col-md-6order-md-2 {
  text-align: center;
}

.head-shot-img-top {
  height: 150px;
  width: 100px;
  padding-top: 5;
  padding-bottom: 5;
}
.head-shot-img-topp {
  height: 179px;
  width: 101;
}
